<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>CornerKart Login & Signup</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/login.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>

<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="./images/loginLogo.png" class="login_image" alt="" width="15px"/></div>
        <div class="formBx">
          <form action="/custlogin" method="POST" autocomplete="off">
            <h2>Log In</h2>
            <%if(err){%>
              <p style="color:red;"><%=err%></p>
            <%}%>
            <input type="text" name="cMobile" placeholder="Mobile No" autocomplete="off" required maxlength="10"/>
            <input type="password" name="cPassword" placeholder="Password" autocomplete="new-password" required/>
            <%# <input type="submit" name="" value="Login" /> %>
						<button type="submit" class="btn" style="margin-left:0; margin-top:6px;background-color:#048f83;color: white;">Log In</button>
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="/custRegister" class="needs-validation" method="post" autocomplete="off" novalidate>
            <h2>Create an account</h2>
            <input type="text" name="cName" placeholder="Name" autocomplete="off" required/>
            <div>
              <input type="text" name="cMobile" class="form-control" placeholder="Mobile" autocomplete="off" required pattern="[0-9]"{10} maxlength="10"/>
              <div class="invalid-feedback">Mobile number must contain 10 digits only.</div>
            </div>
            <div class="">
              <input type="email" name="cEmail" placeholder="Email Address" autocomplete="off" required pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
              <div class="invalid-feedback">Invalid Email.</div>
            </div>
             <div class="">
               <input type="text" name="cPincode" placeholder="Your Area Pincode" autocomplete="off" required pattern="[0-9]{6}"/>
               <div class="invalid-feedback">Pincode must contain 6 digits only.</div>
             </div>
            <input type="password" name="cPassword" placeholder="Password" autocomplete="new-password" required/>
            <div id="emailHelp" class="form-text" style="font-size:0.7rem;">By Signing up, I agree to Terms & Conditions and Privacy Policy</div>
						<button type="submit" class="btn" style="margin-left:0; margin-top:6px;background-color:#048f83;color: white;">Sign Up</button>
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Log In.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="./images/loginLogo.png" class="login_image" alt="" /></div>
      </div>
    </div>
  </section>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
<script src="./cIndex.js"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

</html>
