<%- include("partials/header") -%>
<title>NearCart Sellers</title>
</head>

<body>
  <section id="home">

    <div class="business-first-div container-fluid">
      <div class="container-fluid">
        <img src="./images/logo-seller.png" alt="business-logo" class="business-logo">
      </div>
      <div class="business-home-card container-fluid">
        <div class="container-fluid">
          <h1 class="home-heading">REACH YOUR CUSTOMERS AROUND THE CITY</h1>
        </div>
        <div class="container-fluid">
          <h3 class="business-home-desc">Sell your products in your locality and Grow your business easily by joining us.
          </h3>
        </div>
        <div class="container-fluid">
          <button class="btn btn-warning btn-lg selling-btn">Start Selling</button>
        </div>
      </div>

    </div>

  </section>
  <div class="line"></div>


  <%- include("partials/footer") -%>