<%- include("partials/header") -%>
    <title>Sellers</title>
    </head>

    <body>
        <section id="home">

            <div class="business-first-div">
                <img src="./images/business-home-bg.jpg" alt="business-home" class="business-home-img">
                <div class="business-home-card container-fluid">
                    <h1 class="home-heading">REACH YOUR CUSTOMERS AROUND THE CITY</h1>
                    <h3 class="business-home-desc">Sell your products in your locality and Grow your business easily by joining us.</h3>
                    <button class="btn btn-warning btn-lg selling-btn">Start Selling</button>
                </div>
            </div>

        </section>
        <div class="line"></div>


        <%- include("partials/footer") -%>