
<%- include("partials/header") -%>
<title>NearCart Sellers</title>
</head>

<body>
  <!-- home page starts -->
  <section id="home">

    <div class="business-first-div container-fluid">
      <div class="container-fluid inline-div">
        <img src="./images/logo-seller.png" alt="business-logo" class="business-logo">
        <button class="btn btn-warning login-btn"><i class="fas fa-user-circle"></i> Login</button>
      </div>
      <div class="business-home-card container-fluid">
        <div class="container-fluid">
          <h1 class="home-heading">REACH YOUR CUSTOMERS AROUND THE CITY</h1>
        </div>
        <div class="container-fluid">
          <h3 class="business-home-desc">Sell your products in your locality and Grow your business easily by joining us.
          </h3>
        </div>
        <div class="container-fluid">
          <button class="btn btn-warning btn-lg selling-btn">Start Selling <i class="far fa-smile"></i></button>
        </div>
      </div>

    </div>

  </section>
  <!-- Home Page Ends -->
  <!-- Benefits Start -->
  <section id="benefits" class="benefits">
    <div class="container-fluid">
      <h1 class="benefits-heading">Why you should sell on NearCart?</h1>
    </div>
    <!-- Carousal -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active slider" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="slider" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="slider"aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" class="slider"aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="/images/easy-connect.png" class="d-block carousal-img" alt="connect-customers-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Easy to connect with customers.</h5>
            <p class="carousal-item-para">Turn your retail store into an online store and connect with your customers.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="./images/grow.png" class="d-block carousal-img" alt="Grow-your-business-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Grow your business in local market.</h5>
            <p class="carousal-item-para">Keep serving to customers within your locality  as a way to Give back to your community.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="./images/advertise.png" class="d-block carousal-img" alt="Advertise-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Advertise your business<span class="hide-on-mobile"> and boost your sales</span>.</h5>
            <p class="carousal-item-para">Use this platform to show your products to  anyone, anywhere thus making your store digitally visible.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="./images/earn.png" class="d-block carousal-img" alt="earn-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Earn More !</h5>
            <p class="carousal-item-para">Use this platform to show your products to  anyone, anywhere thus making your store digitally visible.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!-- Benefits End -->

  <!--Sell Steps Start -->
  <div class="sell-steps">
    <div class="row">
        <div class="sell-steps-main-heading">4 Simple steps to start selling online</div>
    </div>
    <div class="row sell-step">
        <div class="hidden-xs hidden-sm verti-line verti-line1"></div>
        <div class="col-md-5 hidden-sm hidden-xs">
            <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-1"
                src="/images/register.png">
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/check.png" class="sell-steps-icon" alt="">
        </div>
        <div class="col-md-5 sell-step-1">
            <div class="sell-step-heading">
                Step 1: Register and list your products
            </div>
            <ul>
                <li>Register your business for free and create a product catalogue. Get free training on how to run your
                    online business</li>
                <li>Get your documentation, photo-shoots, cataloguing, etc. done with ease from our Professional
                    Services network</li>
            </ul>
        </div>
    </div>
    <div class="row sell-step">
        <div class="verti-line verti-line2"></div>
        <div class="col-xs-12 visible-sm visible-xs text-center">
          <img src="/images/list.png" class="sell-steps-icon" alt="">
        </div>
        <div class="col-md-5 sell-step-2">
            <div class="sell-step-heading">
                Step 2: Customize your online store
            </div>
            <ul>
                <li>We offer variety of templates with its own perceptive settings so you can simply customize every
                    feature of your storefront</li>
                <li>You can work with one of our Seller Managers to customize your store from the ground up</li>
            </ul>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs">
            <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-2"
                src="/images/list-product.png">
        </div>
    </div>
    <div class="row sell-step">
        <div class="hidden-xs hidden-sm verti-line verti-line3"></div>
        <div class="col-md-5 hidden-sm hidden-xs">
            <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-3"
                src="/images/receive-orders.png">
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/cart.png" class="sell-steps-icon" alt="">
        </div>
        <div class="col-md-5 sell-step-3">
            <div class="sell-step-heading">
                Step 3: Make sales and ship across the island
            </div>
            <ul>
                <li>Your products will be available for millions of RetailGenius users</li>
                <li>Make sales and fulfill one or multiple orders through order management</li>
            </ul>
        </div>
    </div>
    <div class="row sell-step ">
        <div class="col-xs-12 visible-xs visible-sm text-center">
          <img src="/images/ship.png" alt="" class="sell-steps-icon">
        </div>
        <div class="col-md-5 sell-step-4">
            <div class="sell-step-heading ">
                Step 4: Get payments and grow your business
            </div>
            <ul>
                <li>Receive quick and hassle-free payments in your account once your orders are fulfilled</li>
                <li>Sell with us &amp; focus on the business you love. Let us handle the rest.</li>
            </ul>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs">
            <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-4"
                src="/images/deliver.png">
        </div>
        <div class="col-xs-12 visible-xs visible-sm text-center">
          <img src="/images/circle.png" alt="" class="sell-steps-icon">
        </div>
    </div>
</div>

  <!-- Sell steps end -->

  <%- include("partials/footer") -%>
