<%- include("partials/header") -%>
<title>Sellers</title>
</head>

<body>
    <div class="container-fluid header-div">
        <h1 class="heading-business-page">Digital Dukaan Sellers</h1>
    </div>

    <div class="line"></div>


    <%- include("partials/footer") -%>