<%- include("partials/header") -%>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/styles2.css">

<title>CornerKart Sellers</title>
</head>

<body>
  <!-- home page starts -->
  <section id="home">

    <div class="business-first-div container-fluid">
      <div class="container-fluid inline-div">
        <img src="./images/logo-seller.png" alt="business-logo" class="business-logo">
        <a href="/business/login">
        <button class="btn btn-warning login-btn"><i class="fas fa-user-circle"></i> Login</button>
      </a>
      </div>
      <div class="business-home-card container-fluid">
        <div class="container-fluid">
          <h1 class="home-heading">REACH YOUR CUSTOMERS AROUND THE CITY</h1>
        </div>
        <div class="container-fluid">
          <h3 class="business-home-desc">Sell your products in your locality and Grow your business easily by joining us.
          </h3>
        </div>
        <div class="container-fluid">
          <a href="/business/register"><button class="btn btn-warning btn-lg selling-btn">Start Selling <i class="far fa-smile"></i></button></a>
        </div>
      </div>
    </div>

  </section>
  <!-- Home Page Ends -->
  <!-- Benefits Start -->
  <section id="benefits" class="benefits">
    <div class="container-fluid">
      <h1 class="benefits-heading">Why you should sell on CornerKart?</h1>
    </div>
    <!-- Carousal -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active slider" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="slider" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="slider" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" class="slider" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="images/easy-connect.png" class="d-block carousal-img" alt="connect-customers-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Easy to connect with customers.</h5>
            <p class="carousal-item-para">Turn your retail store into an online store and connect with your customers.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/grow.png" class="d-block carousal-img" alt="Grow-your-business-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Grow your business in local market.</h5>
            <p class="carousal-item-para">Keep serving to customers within your locality as a way to Give back to your community.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/advertise.png" class="d-block carousal-img" alt="Advertise-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Advertise your business<span class="hide-on-mobile"> and boost your sales</span>.</h5>
            <p class="carousal-item-para">Use this platform to show your products to anyone, anywhere thus making your store digitally visible.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/earn.png" class="d-block carousal-img" alt="earn-img">
          <div class="carousel-caption">
            <h5 class="carousal-item-heading">Earn More !</h5>
            <p class="carousal-item-para">Use this platform to show your products to anyone, anywhere thus making your store digitally visible.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!-- Benefits End -->

  <!--Sell Steps Start -->
  <div class="sell-steps" id="how">
    <div class="row">
      <div class="sell-steps-main-heading">
        <h1>4 Simple steps to start selling online</h1>
      </div>
    </div>
    <div class="row sell-step">
      <div class="hidden-xs hidden-sm verti-line verti-line1"></div>
      <div class="col-md-5 hidden-sm hidden-xs">
        <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-1" src="/images/register.png">
      </div>
      <div class="col-md-2 text-center">
        <img src="images/check.png" class="sell-steps-icon" alt="">
      </div>
      <div class="col-md-5 sell-step-1 demo">
        <div class="sell-step-heading">
          <h3 class="step-heading-1"> Step 1: Register yourself as a Seller.</h3>
        </div>
        <ul>
          <li>Register your business for free as it only takes 15 minutes to set up your seller account.</li>
          <li>To become a CornerKart seller all you need is a GST number and PAN card.</li>
          <li>You will then get access to the Seller's portal.</li>
        </ul>
      </div>
    </div>
    <div class="row sell-step">
      <div class="verti-line verti-line2"></div>
      <div class="col-xs-12 visible-sm visible-xs text-center">
        <img src="images/list.png" class="sell-steps-icon" alt="">
      </div>
      <div class="col-md-5 hidden-sm hidden-xs sell-img-hide-pc">
        <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-2" src="/images/list-product.png">
      </div>
      <div class="col-md-5 sell-step-2">
        <div class="sell-step-heading">
          <h3 class="step-heading-1"> Step 2: List your products.</h3>

        </div>
        <ul>
          <li>Once you've registered to sell online, you need to list atleast one product.</li>
          <li>For listing products, you need to fill the details of products as required.</li>
        </ul>
      </div>

      <div class="col-md-5 hidden-sm hidden-xs sell-img-hide-mobile">
        <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-2" src="/images/list-product.png">
      </div>
    </div>
    <div class="row sell-step">
      <div class="hidden-xs hidden-sm verti-line verti-line3"></div>
      <div class="col-md-5 hidden-sm hidden-xs">
        <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-3" src="/images/receive-orders.png">
      </div>
      <div class="col-md-2 text-center">
        <img src="images/cart.png" class="sell-steps-icon" alt="">
      </div>
      <div class="col-md-5 sell-step-3">
        <div class="sell-step-heading">
          <h3 class="step-heading-1"> Step 3: Customers see and buy your products.</h3>

        </div>
        <ul>
          <li>Your products will be made available to customers in your locality.</li>
          <li>Make sales and fulfill one or multiple orders through order management</li>
        </ul>
      </div>
    </div>
    <div class="row sell-step ">
      <div class="col-xs-12 visible-xs visible-sm text-center">
        <img src="images/ship.png" alt="" class="sell-steps-icon">
      </div>
      <div class="col-md-5 hidden-sm hidden-xs sell-img-hide-pc">
        <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-4" src="/images/deliver.png">
      </div>
      <div class="col-md-5 sell-step-4">
        <div class="sell-step-heading ">
          <h3 class="step-heading-1">Step 4: Deliver your products or bring customers to your shop.</h3>

        </div>
        <ul>
          <li>Once you receive an order, you can deliver the product to your customer as per your convenience.</li>
          <li>If you can't deliver the product, you can request the customer to visit your shop. </li>
        </ul>
      </div>
      <div class="col-md-5 hidden-sm hidden-xs sell-img-hide-mobile">
        <img alt="Sell with RetailGenius" class="sell-steps-img sell-steps-img-4" src="/images/deliver.png">
      </div>
      <div class="col-xs-12 visible-xs visible-sm text-center">
        <img src="images/circle.png" alt="" class="sell-steps-icon">
      </div>
    </div>
  </div>
  <!-- Sell steps end -->

  <!-- success stories -->
  <h1 class="testimonials-heading">Know what our Top sellers say about us!</h1>
  <div class="testimonials-section">

    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
    <input type="radio" name="slider" title="slide2" class="slider__nav" />
    <input type="radio" name="slider" title="slide3" class="slider__nav" />
    <input type="radio" name="slider" title="slide4" class="slider__nav" />
    <!-- <input type="radio" name="slider" title="slide5" class="slider__nav" /> -->
    <div class="slider__inner">
      <div class="slider__contents">
        <quote>&rdquo;</quote>
        <p class="slider__txt">This was my first experience as ecommerce seller. It was amazing!</p>
        <h2 class="slider__caption">Jay | J Stores</h2>
      </div>
      <div class="slider__contents">
        <quote>&rdquo;</quote>
        <p class="slider__txt">I started selling on CornerKart my business grew rapidly.</p>
        <h2 class="slider__caption">Pooja | Chavan General Stores</h2>
      </div>
      <div class="slider__contents">
        <quote>&rdquo;</quote>
        <p class="slider__txt">CornerKart gave me opportunity to boost my business.</p>
        <h2 class="slider__caption">Tejas | Tejas Shoppy</h2>
      </div>
      <div class="slider__contents">
        <quote>&rdquo;</quote>
        <p class="slider__txt">My business grew by 5x this year, thanks to CornerKart.</p>
        <h2 class="slider__caption">Saurbh | Dhoble Mart</h2>
      </div>
      <div class="slider__contents">
        <!-- <quote>&rdquo;</quote> -->
        <p class="slider__txt">Proheat's staff are all so friendly and everybody goes above and beyond. Everyone is courteous, everything is quick and you get us what we need. I have to shop around for everything and we ALWAYS come back to Proheat.
        </p>
        <h2 class="slider__caption">Darlene | Russel Stover</h2>
      </div>
    </div>
  </div>
  <!-- success story ends -->


  <!-- Footer Starts -->




  <footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-text">
                <h4>Find us</h4>
                <span>WIT Solapur-413006</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-phone"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>9822XXXXXX</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="far fa-envelope-open"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>cornerkart4@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="#home"><img src="images/forFooter.png" class="img-fluid" alt="logo"></a>
              </div>
              <div class="footer-text">
                <p>Reach your customers around the city. Sell your products in your locality and Grow your business easily by joining us.</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow us</span>
                <a href="https://www.facebook.com/corner.kart.7" target="_blank"><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a href="https://twitter.com/KartCorner" target="_blank"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="https://www.instagram.com/cornerkart/" target="_blank"><i class="fab fa-instagram google-bg" style="font-size:1.3rem; text-align:center;"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="tel:9822XXXXXX">Contact us</a></li>
                <li><a href="#benefits">Why to Sell on CK?</a></li>
                <li><a href="/">CK Customer site</a></li>
                <li><a href="#how">How to Sell on CK?</a></li>
                <li><a href="/business/register">Seller's Registration</a></li>
                <li><a href="#">Technical Support</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Enquiry</h3>
              </div>
              <div class="footer-text mb-25">
                <p>Want to know more ?</p><p> Submit your Email ID, we'll get back to you soon!</p>
              </div>
              <div class="subscribe-form">
                <form action="mailto:cornerkart4@gmail.com" method="post" enctype="text/plain">
                  <input type="text" placeholder="Email Address" name="mailus">
                  <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copyright &copy; 2021, All Right Reserved <a href="#home">CornerKart</a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Footer Ends -->



  <%- include("partials/footer") -%>
