<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/sellerRegistration1.css">
</head>

<body><section class="login-clean" style="padding-bottom: 130px;padding-top: 130px;background: rgb(245,248,255);">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: left;font-size: 16px;">
                    <h1 style="text-align: center;font-family: 'Work Sans', sans-serif;font-size: 33.9px;color: rgb(0,41,102);font-weight: 700;margin-top: 49px;">TO SELL ON CORNERKART ALL YOU NEED IS</h1>
                    <ul>
                        <li style="font-size: 22px;margin: 30px;">*GSTIN is required to make a sale.<br></li>
                        <li style="font-size: 22px;margin: 30px;">Some Products to sell.<br></li>
                        <li style="font-size: 22px;margin: 30px;">Legal ownership of your retail shop.&nbsp;<br><br></li>
                    </ul>
                    <p class="selling-warning" style="color: rgb(255,0,0);font-size: 16px;font-family: 'Work Sans', sans-serif;text-align: left;width: 600px;">* Selling Narcotic Drugs, Alchohol or illegal products is strictly prohibited *</p>
                </div>
                <div class="col-md-6 register-card">
                    <form method="post" style="max-width: 387px;box-shadow: inset 8px 0px rgb(68,81,93);">
                        <h2 class="visually-hidden">Login Form</h2><img src="/images/logo-seller-2%20-%20Copy.png" style="width: 160px;margin-right: auto;margin-left: auto;">
                        <div class="illustration" style="margin-bottom: 0px;"></div>
                        <div class="form-group mb-3"><input class="form-control" type="text" style="margin-top: 15px;background: rgb(255,255,255);color: rgb(0,41,102);font-family: 'Work Sans', sans-serif;font-size: 18px;text-align: left;border: 3px none rgb(0,41,102) ;border-bottom: 1px solid rgb(0,41,102) ;" placeholder="Business Name"><input class="form-control" type="text" style="margin-top: 15px;background: rgb(255,255,255);font-family: 'Work Sans', sans-serif;color: rgb(0,41,102);font-size: 18px;text-align: left;border-color: rgb(0,41,102);border-bottom-style: solid;border-bottom-color: rgb(0,41,102);" placeholder="Owner Name"><input class="form-control" type="text" style="margin-top: 15px;background: rgb(255,255,255);color: rgb(0,41,102);font-family: 'Work Sans', sans-serif;font-size: 18px;text-align: left;border-color: rgb(0,41,102);border-bottom-style: solid;border-bottom-color: rgb(0,41,102);" placeholder="Mobile Number"></div>
                        <div class="form-check"><input class="form-check-input checked" type="checkbox" id="formCheck-1" style="margin-top: 11px;background: var(--bs-white);border-color: rgb(0,41,102);border-top-color: rgb(0,border-right-color: 0,;border-bottom-color: 0);border-left-color: 0,"><label class="form-check-label" for="formCheck-1" style="margin-top: 5px;">I agree to Terms and Conditions</label></div>
                        <div class="form-group mb-3"><button class="btn btn-primary d-block w-100 register-btn" type="submit" style="background: rgb(0,41,102);font-size: 19.5px;">REGISTER NOW<i class="fas fa-user" style="margin-left: 10px;"></i></button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
</body>

</html>