<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Seller Registration</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/sellerLogin.css">
</head>

<body>
    <div class="login-fg">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-6 col-sm-12 login">
                    <div class="login-section">
                        <div class="logo clearfix">
                            <a href="/business">
                                CornerKart
                            </a>
                        </div>
                        <h3>Login into your account</h3>


                        <div class="form-container">
                            <form action="#" method="GET">
                                <div class="form-group form-fg">
                                    <input type="text" name="mobile" class="input-text" placeholder="Registered Mobile Number">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="form-group form-fg">
                                    <input type="password" name="password" class="input-text" placeholder="Password">
                                    <i class="fa fa-unlock-alt"></i>
                                </div>

                                <div class="form-group mt-2">
                                    <button type="submit" class="btn-md btn-fg btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                        <p>Don't have an account? <a href="/business/register" class="linkButton"> Register</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/business-home-bg2.jpg" alt="" class="login-img">
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js">
</script>.
</body>

</html>
