<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Seller Registration</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/sellerRegistration1.css">
</head>

<body>
    <section class="login-clean" style="padding-bottom: 130px;padding-top: 130px;background: rgb(245,248,255);">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: left;font-size: 16px;">
                    <h1
                        style="text-align: center;font-family: 'Work Sans', sans-serif;font-size: 33.9px;color: rgb(0,41,102);font-weight: 700;margin-top: 49px;">
                        TO SELL ON CORNERKART ALL YOU NEED IS</h1>
                    <ul>
                        <li style="font-size: 22px;margin: 30px;">*GSTIN is required to make a sale.<br></li>
                        <li style="font-size: 22px;margin: 30px;">Some Products to sell.<br></li>
                        <li style="font-size: 22px;margin: 30px;">Legal ownership of your retail shop.&nbsp;<br><br>
                        </li>
                    </ul>
                    <p class="selling-warning"
                        style="color: rgb(255,0,0);font-size: 16px;font-family: 'Work Sans', sans-serif;text-align: left;width: 600px;">
                        * Selling Narcotic Drugs, Alchohol or illegal products is strictly prohibited *</p>
                </div>
                <div class="col-md-6 register-card">
                    <form method="post" style="max-width: 387px;box-shadow: inset 8px 0px rgb(68,81,93);"
                        class="needs-validation" novalidate>
                        <h2 class="visually-hidden">Login Form</h2><img src="/images/logo-seller-2%20-%20Copy.png"
                            style="width: 160px;margin-right: auto;margin-left: auto;">
                        <div class="illustration" style="margin-bottom: 0px;"></div>
                        <div class="form-group mb-3">
                            <input class="form-control" type="text"
                                style="margin-top: 15px;background: rgb(255,255,255);color: rgb(0,41,102);font-family: 'Work Sans', sans-serif;font-size: 18px;text-align: left;border: 3px none rgb(0,41,102) ;border-bottom: 1px solid rgb(0,41,102) ;"
                                placeholder="Business Name" pattern="[A-Za-z0-9\s]*" required>
                                <div class="invalid-feedback">Business Name cannot be blank.</div>
                                <input class="form-control" type="text"
                                style="margin-top: 15px;background: rgb(255,255,255);font-family: 'Work Sans', sans-serif;color: rgb(0,41,102);font-size: 18px;text-align: left;border-color: rgb(0,41,102);border-bottom-style: solid;border-bottom-color: rgb(0,41,102);"
                                placeholder="Owner Name" pattern="[A-Za-z\s]*" required>
                                <div class="invalid-feedback">Owner Name must contain alphabets only.</div>
                                <input class="form-control" type="text"
                                style="margin-top: 15px;background: rgb(255,255,255);color: rgb(0,41,102);font-family: 'Work Sans', sans-serif;font-size: 18px;text-align: left;border-color: rgb(0,41,102);border-bottom-style: solid;border-bottom-color: rgb(0,41,102);"
                                placeholder="Mobile Number" pattern="[0-9]{10}*">
                                <div class="invalid-feedback">Mobile Number must contain digits only of length 10.</div>
                            </div>
                        <div class="form-check"><input class="form-check-input checked" required type="checkbox" id="formCheck-1"
                                style="margin-top: 11px;border-color: rgb(0,41,102);border-top-color: rgb(0,border-right-color: 0;border-bottom-color: 0);border-left-color: 0,"><label
                                class="form-check-label" for="formCheck-1" style="margin-top: 5px;">I agree to Terms and
                                Conditions</label></div>
                        <div class="form-group mb-3"><button class="btn btn-primary d-block w-100 register-btn"
                                type="submit" style="background: rgb(0,41,102);font-size: 19.5px;">REGISTER NOW<i
                                    class="fas fa-user" style="margin-left: 10px;"></i></button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div id="multple-step-form-n" class="container overflow-hidden"
            style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
            <div id="progress-bar-button" class="multisteps-form"
                style="margin: 0px;margin-left: -14px;margin-right: -14px;">
                <div class="row">
                    <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                        <div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active"
                                role="button" title="User Info">User Info</a><a
                                class="btn multisteps-form__progress-btn" role="button" title="User Info">About</a><a
                                class="btn multisteps-form__progress-btn" role="button"
                                title="User Info">Contact&nbsp;</a></div>
                    </div>
                </div>
            </div>
            <div id="multistep-start-row" class="row">
                <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">
                    <form id="main-form" class="multisteps-form__form needs-validation" novalidate >
                        <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active"
                            data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">User Info</h3>
                            <div id="form-content" class="multisteps-form__content">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Name</label>
                                        <input type="text" class="form-control" pattern="[A-Za-z\s]*" required>
                                        <div class="invalid-feedback">Name must contain alphabets only.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4" class="form-label">Mobile No</label>
                                        <input type="tel" class="form-control" pattern="[0-9]{10}" required>
                                        <div class="invalid-feedback">Mobile No must contain 10 digits.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4" class="form-label">Date of Birth</label>
                                        <input type="date" class="form-control" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Gender</label>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                value="male">
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                value="female">
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                value="other">
                                            <label class="form-check-label" for="inlineRadio2">Other</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="inputAddress"
                                            placeholder="1234 Main St" required>
                                        <div class="invalid-feedback">Address cannot be blank.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputCity" class="form-label">City</label>
                                        <input type="text" class="form-control" id="inputCity" required>
                                        <div class="invalid-feedback">City cannot be blank.</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputState" class="form-label">State</label>
                                        <select id="inputState" class="form-select" required>
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="inputZip" class="form-label">Zip</label>
                                        <input type="text" class="form-control" id="inputZip" required pattern="[0-9]{6}">
                                        <div class="invalid-feedback">Zip Code must contain 6 digits.</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">Email ID</label>
                                        <input type="email" class="form-control" id="inputAddress"
                                            placeholder="example@domain.com" required>
                                        <div class="invalid-feedback">Email cannot be blank.</div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Aadhar No</label>
                                        <input type="text" class="form-control" required pattern="[0-9]{16}">
                                        <div class="invalid-feedback">Aadhar Number must contain 16 digits.</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4" class="form-label">Pan No</label>
                                        <input type="text" class="form-control" required pattern="[A-Z0-9]{10}">
                                        <div class="invalid-feedback">Pan No must contain 10 alphanumeric.</div>
                                    </div>

                                </div>




                                <div id="next-button1" class="button-row d-flex mt-4"><button
                                        class="btn btn btn-primary ml-auto js-btn-next" type="button"
                                        title="Next">Next</button>
                                </div>
                            </div>
                        </div>
                        <div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white"
                            data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">About</h3>
                            <div id="form-content-1" class="multisteps-form__content">
                                <div id="input-grp-double-1" class="form-row mt-4">
                                    <div class="col-12 col-sm-6"><input class="form-control multisteps-form__input"
                                            type="text" placeholder="First name "></div>
                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0"><input
                                            class="form-control multisteps-form__input" type="text"
                                            placeholder="Last name "></div>
                                </div>
                                <div id="input-grp-single-1" class="form-row mt-4">
                                    <div class="col-12"><input class="form-control multisteps-form__input" type="text"
                                            placeholder="House"></div>
                                </div>
                                <div id="next-prev-buttons" class="button-row d-flex mt-4"><button
                                        class="btn btn btn-primary js-btn-prev" type="button"
                                        title="Prev">Prev</button><button
                                        class="btn btn btn-primary ml-auto js-btn-next" id="next-button2" type="button"
                                        title="Next">Next</button></div>
                            </div>
                        </div>
                        <div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white"
                            data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">About</h3>
                            <div id="form-content-2" class="multisteps-form__content">
                                <div id="input-grp-double-2" class="form-row mt-4">
                                    <div class="col-12 col-sm-6"><input class="form-control multisteps-form__input"
                                            type="text" placeholder="First name "></div>
                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0"><input
                                            class="form-control multisteps-form__input" type="text"
                                            placeholder="Last name "></div>
                                </div>
                                <div id="input-grp-single-2" class="form-row mt-4">
                                    <div class="col-12"><input class="form-control multisteps-form__input" type="text"
                                            placeholder="House"></div>
                                </div>
                                <div id="next-prev-buttons-1" class="button-row mt-4"><button
                                        class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                    <button class="btn btn btn-primary ml-auto js-btn-next" type="submit"
                                        title="Next">Next</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js">
    </script>
    <script src="/Multi-step-form.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation');
  var next1 = document.getElementById('next-button1');
  var next2 = document.getElementById('next-button1');

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    //   next1.addEventListener('click', function (event) {
    //     if (!form.checkValidity()) {
    //       event.preventDefault()
    //       event.stopPropagation()  
    //     }

    //     form.classList.add('was-validated')
    //   }, false)
    //   next2.addEventListener('click', function (event) {
    //     if (!form.checkValidity()) {
    //       event.preventDefault()
    //       event.stopPropagation()
    //     }

    //     form.classList.add('was-validated')
    //   }, false)
    })
})()
    </script>
</body>

</html>