<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Seller Registration</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/sellerRegistration1.css">
</head>

<body>
  <%if(flag===false){%>
    <section class="login-clean" style="padding-bottom: 130px;padding-top: 130px;background: rgb(245,248,255);">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: left;font-size: 16px;">
                    <h1
                        style="text-align: center;font-family: 'Work Sans', sans-serif;font-size: 33.9px;color: rgb(0,41,102);font-weight: 700;margin-top: 49px;">
                        TO SELL ON CORNERKART ALL YOU NEED IS</h1>
                    <ul>
                        <li style="font-size: 22px;margin: 30px;">GSTIN is required to make a sale.<br></li>
                        <li style="font-size: 22px;margin: 30px;">Some Products to sell.<br></li>
                        <li style="font-size: 22px;margin: 30px;">Legal ownership of your retail shop.&nbsp;<br><br>
                        </li>
                    </ul>
                    <p class="selling-warning"
                        style="color: rgb(255,0,0);font-size: 16px;font-family: 'Work Sans', sans-serif;text-align: left;width: 600px;">
                        * Selling Narcotic Drugs, Alchohol or illegal products is strictly prohibited *</p>
                </div>

                <div class="col-md-6 register-card">
                    <form method="post" action="/business/register/home" style="max-width: 387px;box-shadow: inset 8px 0px rgb(68,81,93);"
                        class="needs-validation" novalidate>
                        <h2 class="visually-hidden">Login Form</h2><img src="/images/logo-seller-2%20-%20Copy.png"
                            style="width: 160px;margin-right: auto;margin-left: auto;">
                        <div class="illustration" style="margin-bottom: 0px;"></div>
                        <div class="form-group mb-3">
                            <input class="form-control" type="text" name="b_name"
                                style="margin-top: 15px;background: rgb(255,255,255);color: rgb(0,41,102);font-family: 'Work Sans', sans-serif;font-size: 18px;text-align: left;border: 3px none rgb(0,41,102) ;border-bottom: 1px solid rgb(0,41,102) ;"
                                placeholder="Business Name" pattern="[A-Za-z0-9\s]*" required>
                            <div class="invalid-feedback">Business Name cannot be blank.</div>
                            <input class="form-control" type="text" name="b_owner"
                                style="margin-top: 15px;background: rgb(255,255,255);font-family: 'Work Sans', sans-serif;color: rgb(0,41,102);font-size: 18px;text-align: left;border-color: rgb(0,41,102);border-bottom-style: solid;border-bottom-color: rgb(0,41,102);"
                                placeholder="Owner Name" pattern="[A-Za-z\s]*" required>
                            <div class="invalid-feedback">Owner Name must contain alphabets only.</div>
                            <input class="form-control" type="text" name="b_mobile"
                                style="margin-top: 15px;background: rgb(255,255,255);color: rgb(0,41,102);font-family: 'Work Sans', sans-serif;font-size: 18px;text-align: left;border-color: rgb(0,41,102);border-bottom-style: solid;border-bottom-color: rgb(0,41,102);"
                                placeholder="Mobile Number" pattern="[0-9]{10}">
                            <div class="invalid-feedback">Mobile Number must contain digits only of length 10.</div>
                        </div>
                        <div class="form-check"><input class="form-check-input checked" required type="checkbox"
                                id="formCheck-1"
                                style="margin-top: 11px;border-color: rgb(0,41,102);border-top-color: rgb(0,border-right-color: 0;border-bottom-color: 0);border-left-color: 0,"><label
                                class="form-check-label" for="formCheck-1" style="margin-top: 5px;">I agree to Terms and
                                Conditions</label></div>
                        <div class="form-group mb-3"><button class="btn btn-primary d-block w-100 register-btn"
                                type="submit" style="background: rgb(0,41,102);font-size: 19.5px;">REGISTER NOW<i
                                    class="fas fa-user" style="margin-left: 10px;"></i></button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%}else {%>
    <section>
        <div id="multple-step-form-n" class="container overflow-hidden"
            style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
            <div id="progress-bar-button" class="multisteps-form"
                style="margin: 0px;margin-left: -14px;margin-right: -14px;">
                <div class="row">
                    <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                        <div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active"
                                role="button" title="User Info">User Info</a><a
                                class="btn multisteps-form__progress-btn" role="button" title="User Info">Business Details</a><a
                                class="btn multisteps-form__progress-btn" role="button"
                                title="User Info">Business Address</a></div>
                    </div>
                </div>
            </div>
            <div id="multistep-start-row" class="row">
                <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">
                    <form id="main-form" class="multisteps-form__form needs-validation" method="POST" action="/business/register/nextstep"
                    oninput='sCpassword.setCustomValidity(sCpassword.value != sPassword.value ? "Passwords do not match." : "")' novalidate enctype="multipart/form-data">
                        <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active"
                            data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">User Info</h3>
                            <div id="form-content" class="multisteps-form__content">
                                <div class="row g-3">
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputEmail4" class="form-label">Owner Name</label>
                                        <input type="text" name="sName" value="<%=b_owner%>" class="form-control" pattern="[A-Za-z\s]*" required readonly >
                                        <div class="invalid-feedback">Name must contain alphabets only.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputPassword4 " class="form-label">Mobile
                                            No</label>
                                        <input type="tel" name="sPhoneNo" value="<%=b_mobile%>" class="form-control" pattern="[0-9]{10}" required readonly>
                                        <div class="invalid-feedback">Mobile No must contain 10 digits.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputPassword4 " class="form-label">Date of
                                            Birth</label>
                                        <input type="date" name="sDOB" class="form-control" required>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputEmail4" class="form-label">Gender</label>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="sGender" type="radio"
                                                value="M">
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="sGender" type="radio"
                                                value="F">
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="sGender" type="radio"
                                                value="O">
                                            <label class="form-check-label" for="inlineRadio2">Other</label>
                                        </div>
                                    </div>

                                    <div class="col-12 first-page-valid">
                                        <label for="inputAddress" class="form-label">Address</label>
                                        <input type="text" name="sAddress" class="form-control" id="inputAddress"
                                            placeholder="1234 Main St" required>
                                        <div class="invalid-feedback">Address cannot be blank.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputCity" class="form-label">City</label>
                                        <input type="text" name="sCity" class="form-control" id="inputCity" required>
                                        <div class="invalid-feedback">City cannot be blank.</div>
                                    </div>
                                    <div class="col-md-4 first-page-valid">
                                        <label for="" class="form-label">State</label>

                                          <input list="states" name="sState" id="state" class="form-control">
                                          <datalist id="states">
                                            <% states.forEach(function(state){ %>
                                              <option><%=state%></option>
                                            <% }); %>

                                          </datalist>



                                    </div>
                                    <div class="col-md-2 first-page-valid">
                                        <label for="inputZip" class="form-label">Zip</label>
                                        <input type="text" name="sZip" class="form-control" id="inputZip" required
                                            pattern="[0-9]{6}">
                                        <div class="invalid-feedback">Zip Code must contain 6 digits.</div>
                                    </div>


                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputEmail4" class="form-label">Aadhar No</label>
                                        <input type="text" name="sAadhar" class="form-control" required pattern="[0-9]{16}">
                                        <div class="invalid-feedback">Aadhar Number must contain 16 digits.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputPassword4" class="form-label">Pan No</label>
                                        <input type="text" name="sPAN" class="form-control" required pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}">
                                        <div class="invalid-feedback">PAN No must contain 10 alphanumeric.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputEmail4" class="form-label">Password</label>
                                        <input type="password" name="sPassword" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" required>
                                        <div class="invalid-feedback">Password must be of length greater than 8 and contain 1 Uppercase, 1 Lowercase , 1 Number and 1 Symbol.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputPassword4" class="form-label">Confirm Password</label>
                                        <input type="password" name="sCpassword" class="form-control" required>
                                        <div class="invalid-feedback">Passwords does not match.</div>
                                    </div>

                                </div>




                                <div id="next-button1" class="button-row d-flex mt-4"><button
                                        class="btn btn btn-primary ml-auto js-btn-next" type="button"
                                        title="Next">Next</button>
                                </div>
                            </div>
                        </div>
                        <div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white"
                            data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">Business Details</h3>
                            <div id="form-content-1" class="multisteps-form__content">
                                <div id="input-grp-double-1" class="form-row mt-4">
                                    <div class="row g-3">
                                        <div class="col-md-6 first-page-valid">
                                            <label for="inputEmail4" class="form-label">Business Name</label>
                                            <input type="text" name="bName" value="<%=b_name%>" class="form-control" pattern="[A-Za-z\s]*" required readonly>
                                            <div class="invalid-feedback">Name must contain alphabets only.</div>
                                        </div>

                                        <div class="col-md-6 first-page-valid">
                                            <label for="inputState" class="form-label">Category</label>
                                            <select id="inputState" name="bCategory" class="form-select" required>
                                                <option selected>Choose...</option>
                                                <option>Grocery</option>
                                                <option>Clothing</option>
                                                <option>Electrical</option>
                                                <option>Electronics and Accessories</option>
                                                <option>Stationary</option>
                                                <option>Hardware</option>
                                                <option>Automobile Accessories</option>
                                                <option>Cosmetics</option>
                                                <option>Sports and Fitness</option>
                                                <option>Furniture</option>
                                                <option>Cutlery</option>
                                                <option>Gift Shop</option>
                                                <option>Toys</option>
                                                <option>Bags and Luggage</option>
                                                <option>Footware</option>
                                                <option>Spectacles/Lenses</option>
                                                <option>Watch</option>
                                                <option>Books</option>
                                                <option>Imitation Jewellery</option>
                                                <option>Baby Care</option>


                                            </select>
                                        </div>

                                        <div class="col-md-6 first-page-valid">
                                            <label for="inputPassword4 " class="form-label">Business Mobile
                                                No</label>
                                            <input type="tel" name="bMobile" class="form-control" pattern="[0-9]{10}" required>
                                            <div class="invalid-feedback">Mobile No must contain 10 digits.</div>
                                        </div>
                                        <div class="col-md-6 first-page-valid">
                                            <label for="inputPassword4" class="form-label">GSTIN Number</label>
                                            <input type="text" name="bGST" class="form-control" required pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$">
                                            <div class="invalid-feedback">GSTIN Number must contain 15 alphanumeric.
                                            </div>
                                        </div>
                                        <div class="col-12 first-page-valid">
                                            <label for="inputAddress" class="form-label">Email ID</label>
                                            <input type="email" name="bEmail" class="form-control" id="inputAddress"
                                                placeholder="example@domain.com" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required>
                                            <div class="invalid-feedback">Enter valid Email</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Shop Photo</label>
                                            <input class="form-control" name="bShop_photo" type="file" id="formFile" required>
                                        </div>
                                        <div class="col-12 first-page-valid">
                                            <label for="inputAddress" class="form-label">Website</label>
                                            <input type="text" class="form-control" id="inputAddress" name="bWebsite"
                                                placeholder="www.example.com">
                                            <div class="invalid-feedback">Website must match specified format.</div>
                                        </div>

                                    </div>
                                </div>
                                <div id="next-prev-buttons" class="button-row d-flex mt-4"><button
                                        class="btn btn btn-primary js-btn-prev" type="button"
                                        title="Prev">Prev</button><button
                                        class="btn btn btn-primary ml-auto js-btn-next" id="next-button2" type="button"
                                        style="margin-left: 2%;"
                                        title="Next">Next</button></div>
                            </div>
                        </div>
                        <div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white"
                            data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">Business Address</h3>

                            <div id="form-content-2" class="multisteps-form__content">
                                <div class="row g-3">
                                    <div class="col-12 first-page-valid">
                                        <label for="inputAddress" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="inputAddress"
                                            placeholder="1234 Main St" name="bAddress" required>
                                        <div class="invalid-feedback">Address cannot be blank.</div>
                                    </div>
                                    <div class="col-md-6 first-page-valid">
                                        <label for="inputCity" class="form-label">City</label>
                                        <input type="text" name="bCity" class="form-control" id="inputCity" required>
                                        <div class="invalid-feedback">City cannot be blank.</div>
                                    </div>
                                    <div class="col-md-4 first-page-valid">
                                        <label for="inputState" class="form-label">State</label>
                                        <select id="inputState" name="bState" class="form-select" required>
                                            <option selected>Choose...</option>
                                            <option>Maharashtra</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 first-page-valid">
                                        <label for="inputZip" class="form-label">Zip</label>
                                        <input type="text" name="bZip" class="form-control" id="inputZip" required
                                            pattern="[0-9]{6}">
                                        <div class="invalid-feedback">Zip Code must contain 6 digits.</div>
                                    </div>
                                </div>
                                <p class="correct_details" style="margin-top:2%;color:red;display:none">*Make sure that you have filled correct details. (Check previous pages as well)</p>
                                <div id="next-prev-buttons-1" class="button-row mt-4"><button
                                        class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                    <button class="btn btn btn-primary ml-auto" type="submit" style="margin-left: 1%; background: rgb(0,41,102);"
                                        title="Next">Submit</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<%}%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js">
    </script>
    <script src="/Multi-step-form.js"></script>



    <!-------------------------------------- Form Validation------------------ -->
    <script>







        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');
            var first_page_valid = document.getElementsByClassName("first-page-valid");
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    //For whole form
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                            $(".correct_details").attr('style',"display:block;color:red");
                        }
                        form.classList.add('was-validated');
                    }, false)
                    //Field wise validation
                    first_page_valid[0].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[0].classList.add('was-validated');
                    }, false)

                    first_page_valid[1].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[1].classList.add('was-validated');
                    }, false)
                    first_page_valid[2].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[2].classList.add('was-validated');
                    }, false)
                    first_page_valid[3].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[3].classList.add('was-validated');
                    }, false)
                    first_page_valid[4].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[4].classList.add('was-validated');
                    }, false)
                    first_page_valid[5].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[5].classList.add('was-validated');
                    }, false)
                    first_page_valid[6].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[6].classList.add('was-validated');
                    }, false)
                    first_page_valid[7].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[7].classList.add('was-validated');
                    }, false)
                    first_page_valid[8].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[8].classList.add('was-validated');
                    }, false)
                    first_page_valid[9].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[9].classList.add('was-validated');
                    }, false)
                    first_page_valid[10].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[10].classList.add('was-validated');
                    }, false)

                    first_page_valid[11].addEventListener('change', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        first_page_valid[11].classList.add('was-validated');
                    }, false)

                })
        })()
    </script>
</body>

</html>
