<button id='Individualseller' class='sellerButton' style='color:#048f83;box-shadow: 0px 0px 3px #048f83;'
    value=" + data[i].iId + ">
    <div class='card sellerSide' style=''>
        <div class='card-body'>
            <div class='row'>
                <div class='col-auto col-4 column1'>
                    <h5 class='sellingPrice sp'>" + data[i].bName +"</h5>
                </div>
                <div class='col-auto col-4 column1'>
                    <h5 class='sellingPrice sp'>" + data[i].avg_rating +"</h5>
                </div>
                <div class='col-auto col-4 column'>
                    <h5 id=" + data[i].iId + " class='sellingPrice'>₹ " + data[i].sellerPrice + "</h5>
                </div>
            </div>
        </div>
    </div>
</button>

<button id='Individualseller' class='sellerButton' style='color:#048f83;box-shadow: 0px 0px 3px #048f83;'
    value=" + data[i].iId + ">
    <div class='card sellerSide' style=''>
        <div class='card-body'>
            <div class='row'>
                <div class='col-auto col-4 column1'>
                    <h5 class='sellingPrice sp'>" + data[i].bName +"</h5>
                </div>
                <div class='col-auto col-4 column'>
                    <h5 id=" + data[i].iId + " class='sellingPrice'>₹ " + data[i].sellerPrice + "</h5>
                </div>
            </div>
        </div>
    </div>
</button>