.order-card{
  max-width: 94%;
  max-height:50%;
  box-shadow:grey 0.5px 1px 4px;
  margin-top: 2%;
  margin-left: 3%;
}


@media (max-width:1000px) and (min-width:701px) {
  .break{
    display: block !important;
  }
  .buy-now-btn{
    font-size:0.7rem !important;
    width:80% !important;
    padding-left:5px !important;
    padding-right: 5px !important;
  }
}
@media (max-width:701px) and (min-width:574px) {
  .buy-now-btn{
    font-size:0.7rem !important;
    width:80% !important;
    padding-left:5px !important;
    padding-right: 5px !important;
  }
}

@media (max-width:700px){
  .img-small{
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .order-card{
    margin-left: 1% !important;
}
  p{
    font-size: 0.7rem;
  }
  h5{
    font-size: 0.9rem; }
  .hide{
      display: none;
    }
    .show{
      display: block !important;
      margin-top: 0 !important;
    }
  .mob{
      margin-top: 3% !important;
    }
    .pImage{
      margin-left: 15px;
    }
    .name-div{
      margin-left: 15px;
    }
    .buy-div{
      margin: 0 !important;
      position: relative !important;
      display: flex !important;
    }
    .buy-now-btn{
      margin-top: 0px !important;
    }
}
