.feedback-card{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

textarea{
    resize: none;
}
.submit-feedback{
    margin-left: 0%;
}

/* Rating */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/
/***** CSS to Highlight Stars on Hover (Product) *****/

.p_rating {
  border: none;
  font-size: 2rem;
}

.p_rating > input { display: none; }
.p_rating > label:before {
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.p_rating > .p_half:before {
  content: "\f089";
  position: absolute;
}

.p_rating > label {
  color: #ddd;
 float: right;
}




.p_rating > input:checked ~ label, /* show gold star when clicked */
.p_rating:not(:checked) > label:hover, /* hover current star */
.p_rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.p_rating > input:checked + label:hover, /* hover current star when changing p_rating */
.p_rating > input:checked ~ label:hover,
.p_rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.p_rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/***** CSS to Highlight Stars on Hover (Seller) *** **/

.s_rating > input:checked ~ label, /* show gold star when clicked */
.s_rating:not(:checked) > label:hover, /* hover current star */
.s_rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.s_rating > input:checked + label:hover, /* hover current star when changing s_rating */
.s_rating > input:checked ~ label:hover,
.s_rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.s_rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.s_rating {
    border: none;
    font-size: 2rem;
  }

  .s_rating > input { display: none; }
  .s_rating > label:before {
    margin: 5px;
    font-size: 3em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }

  .s_rating > .s_half:before {
    content: "\f089";
    position: absolute;
  }

  .s_rating > label {
    color: #ddd;
   float: right;
  }

  .container{
    text-align: center;
    display: none;
  }

  .gobtn{
    margin-top: 4%;
  }
