.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
vertical-align: middle;

}
td, th {
  vertical-align: middle;

}
.img-thumbnail{
  width: 65px;
  height: 65px;
}
