/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
}

/* Business Home Starts */
.business-first-div {
  position: relative;
  background-image: url("../images/business-home-bg.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  height: 100vh;

}

.business-logo {
  border-radius: 3%;
  width: 15%;
  height: 15%;
  margin-left: 7%;
  margin-top: 2%;
}

.home-heading {
  font-family: 'Hind Siliguri', sans-serif;
  color: #f3f70a;
  text-shadow: 2px 2px 5px rgb(92, 90, 90);
  font-size: 2.7rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

.business-home-desc {
  width: 90%;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.884);
  font-family: 'Shippori Mincho B1', serif;
}


.business-home-card {
  background-color: rgba(15, 15, 15, 0.829);
  width: 40%;
  height: fit-content;
  padding-top: 3%;
  margin-left: 7%;
  margin-top: 4%;
}

.selling-btn {
  position: relative;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 6%;
}

.login-btn{
  margin-left: 60%;
  margin-top: 2%;
  box-shadow: gray 1px 1px 5px;
  font-size: 1.1rem;

}
.inline-div{
  display: inline-block;
}
.benefits-heading{
font-family: 'Baloo 2', cursive;
font-size: 2.8rem;
}


/* Responsive */
@media (max-width:810px) and (min-width:730px){
  .home-heading{
    font-size: 2.2rem;
  }
  .business-home-desc{
    font-size: 1.7rem;
    margin-top: 8%;
  }
  .selling-btn{
    font-size: 1.2rem;
    width: 65%;
    margin-top: 10%;
  }
  .business-home-card{
    margin-top: 6%;
  }
  .business-logo{
    width: 22%;
  }
  .login-btn{
    width: 15%;
    display: inline;
    margin-left: 45%;
  }
}
@media (max-width:730px) {
  .business-logo {
    width: 35%;
    height: 35%;
    margin-top: 6%;
  }

  .business-home-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
  }

  .home-heading {
    font-size: 2.2rem;
    margin-top: 10%;
    width: 80%;
  }

  .business-home-desc {
    font-size: 1.7rem;
  }

  .selling-btn {
    margin-top: 8%;
    width: 45%;
    font-size: 1.4rem;
    text-align: center;
    padding: 8px 4px;
  }
  .login-btn{
    width: 20%;
    display: inline;
    margin-left: 30%;
    margin-top: 5%;
  }
}
@media (max-width:729px) and (min-width:560px) {
  .business-logo {
    width: 30%;
    height: 30%;
    margin-top: 5%;
  }

  .business-home-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
  }

  .home-heading {
    font-size: 2.3rem;
    width: 85%;
    margin-top: 10%;
  }

  .selling-btn {
    margin-top: 6%;
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
    padding: 8px 4px;
  }

}
@media (max-width:696px){
  .benefits-heading{
    font-size: 2rem;
  }
}
@media (max-width:450px) and (min-width:330px) {
  .business-logo {
    width: 35%;
    height: 35%;
    margin-top: 5%;
  }

  .business-home-card {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
  }

  .home-heading {
    font-size: 2.3rem;
    margin-top: 10%;
  }

  .selling-btn {
    margin-top: 8%;
    width: 50%;
    font-size: 1.1rem;
    text-align: center;
    padding: 8px 4px;
  }
  .login-btn{
    width: 30%;
    display: inline;
    margin-left: 15%;
  }

}

@media (max-width:330px) {
  .business-logo {
    width: 50%;
    height: 50%;
    margin-top: 5%;
  }

  .business-home-card {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }


  .home-heading {
    font-size: 1.8rem;
    margin-top: 10%;
  }

  .business-home-desc {
    font-size: 1.3rem;
  }

  .selling-btn {
    margin-top: 8%;
    width: 60%;
    font-size: 1rem;
    text-align: center;
    padding: 8px 4px;
  }
  .login-btn{
    width: 30%;
    display: inline;
    margin-left: 8%;
    font-size: 0.8rem;
  }

}



/* Business Home Ends */

/* Benefits Start */
.benefits-heading{
  text-align: center;
  margin-top: 3%;
}

.carousal-img{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8%;
  margin-top: 2%;
}

.carousal-item-heading{
  font-size: 1.6rem;
}
.carousal-item-para{
  font-size: 1.1rem;
}

.benefits{
  padding-bottom: 3%;
}







/* Responsive */
@media (max-width:1280px) and (min-width:1251px){
  .carousel-item{
    padding-bottom: 6%;
  }
}
@media (max-width:1250px) and (min-width:873px){
  .carousel-item{
    padding-bottom: 7%;
  }
}
@media (max-width:872px) and (min-width:771px){
  .carousel-item{
    padding-bottom: 13%;
  }
  .carousal-img{
    width:50%;
  }
}
@media (max-width:770px) and (min-width:601px){
  .carousel-item{
    padding-bottom: 20%;
  }
  .carousal-img{
    width:55%;
  }
}
@media (max-width:600px) and (min-width:566px){
  .carousel-item{
    padding-bottom: 25%;
  }
  .carousal-img{
    width:60%;
  }
}
@media (max-width:566px) and (min-width:521px){
  .carousel-item{
    padding-bottom: 23%;
  }
  .carousal-item-heading{
    font-size:1.3rem;
  }
  .carousal-item-para{
    font-size: 1rem;
  }
  .carousal-img{
    width:50%;
  }
}
@media (max-width:520px) and (min-width:352px){
  .carousel-item{
    padding-bottom: 20%;
  }
  .carousal-item-para{
    display: none;
  }
  .hide-on-mobile{
    display: none;
  }
  .carousal-img{
    width:55%;
  }
}
@media (max-width:351px) and (min-width:282px){
  .carousel-item{
    padding-bottom: 25%;
  }
  .hide-on-mobile{
    display: none;
  }
  .carousal-item-para{
    display: none;
  }
  .carousal-item-heading{
    font-size:1.3rem;
  }
}
@media (max-width:281px){
  .carousel-item{
    padding-bottom: 28%;
  }
  .carousal-item-heading{
    font-size:1.1rem;
  }
  .hide-on-mobile{
    display: none;
  }
  .carousal-item-para{
    display: none;
  }
  .carousal-img{
    width:60%;
  }
}
/* Benefits Ends */
