/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

/* Business Home Starts */
.business-first-div {
  position: relative;
  background-image: url("../images/business-home-bg.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  height: 100vh;

}

.business-logo {
  border-radius: 3%;
  width: 15%;
  height: 15%;
  margin-left: 7%;
  margin-top: 2%;
}

.business-title-span {
  position: absolute;
  font-size: 2rem;
  color: white;
  font-style: italic;

}

.home-heading {
  font-family: 'Hind Siliguri', sans-serif;
  color: rgb(243, 247, 10);
  text-shadow: 2px 2px 5px rgb(92, 90, 90);
  font-size: 2.7rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

.business-home-desc {
  width: 90%;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.884);
  font-family: 'Shippori Mincho B1', serif;
}

.business-home-img {
  height: 100%;
  width: 100%;
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

.business-home-card {
  background-color: rgba(15, 15, 15, 0.829);
  width: 40%;
  height: fit-content;
  padding-top: 3%;
  margin-left: 7%;
  margin-top: 4%;
}

.selling-btn {
  position: relative;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 6%;
}

/* Responsive */

@media (max-width:450px) {
  .business-logo {
    width: 35%;
    height: 35%;
    margin-top: 5%;
  }

  .business-home-card {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
  }

  .home-heading {
    font-size: 2.3rem;
    margin-top: 10%;
  }

  .selling-btn {
    margin-top: 8%;
    width: 50%;
    font-size: 1.1rem;
    text-align: center;
    padding: 8px 4px;
  }

}

@media (max-width:330px) {
  .business-logo {
    width: 50%;
    height: 50%;
    margin-top: 5%;
  }

  .business-home-card {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
  }

  .home-heading {
    font-size: 1.8rem;
    margin-top: 10%;
  }

  .business-home-desc {
    font-size: 1.3rem;
  }

  .selling-btn {
    margin-top: 8%;
    width: 60%;
    font-size: 1.1rem;
    text-align: center;
    padding: 8px 4px;
  }

}

/* Business Home Ends */